.card{
    border: 1px solid black;
    width: 300px;
    padding: 10px;

    transition: 1s;



    

    img{
        width: 100%;

    }

    
}
.red{
    background-color: red;

}

.none{
    display: none;
}

